.landingPage {
  height: max-content;
}

.landingPage-text {
  height: 87vh;

  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;

  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;

  transform: translate(-50%, -50%);
}

.landingPage-text > h1 {
  font-size: 4rem;
  color: #4e4e4e;
  margin-bottom: 0;
}

.landingPage-text > p {
  font-size: 2rem;
  color: #4e4e4e;
}
