.eventsPage {
  text-align: center;
  width: 100%;
  color: #4e4e4e;
  position: relative;
}

.eventsPage > h1 {
  font-size: 3rem;
}

.eventCardHolder {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .eventCardHolder {
    flex-direction: column;
  }
  .eventsPage > h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
